<div class="row" id="skills">
  <div class="col-md-12 mt-4">
    <div class="skill-mf">
      <h3 class="title-s text-center">Skills</h3>
      <hr />
      <div class="row">
        <div class="col-md-1 mb-2"></div>
        <div class="col-md-2 mb-2">
          <span
            ><img
              src="../../assets/images/angular.png"
              class="imgs"
              alt=""
          /></span>
          <span class="">Angular</span>
        </div>
        <div class="col-md-2 mb-2">
          <img
            src="../../assets/images/django.png"
            class="imgs"
            alt=""
          />
          <span class="">Django</span>
        </div>
        <div class="col-md-2 mb-2">
          <img
            src="../../assets/images/flask.png"
            class="imgs"
            alt=""
          />
          <span class="">Flask</span>
        </div>
        <div class="col-md-2 mb-2">
          <img
            src="../../assets/images/react.png"
            class="imgs"
            alt=""
          />
          <span class="">React</span>
        </div>
        <div class="col-md-2 mb-2">
          <img src="../../assets/images/html-css.png" class="imgs" alt="" />
          <span class="">Html/Css</span>
        </div>

      </div>
      <div class="row">
        <div class="col-md-1 mb-2"></div>
        <div class="col-md-2 mb-2">
          <img
            src="../../assets/images/git.png"
            class="imgs"
            alt=""
          />
          <span class="">Git</span>
        </div>
        <div class="col-md-2 mb-2">
          <img
            src="../../assets/images/js-logo.jpeg"
            class="imgs"
            alt=""
          />
          <span class="">Javascript</span>
        </div>

        <div class="col-md-2 mb-2">
          <img
            src="../../assets/images/postgresql.png"
            class="imgs"
            alt=""
          />
          <span class="">Postgresql</span>
        </div>
        <div class="col-md-2 mb-2">
          <img
            src="./../assets/images/sqlite.png"
            class="imgs"
            alt=""
          />
          <span class="">Sqlite</span>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>

