<section id="projects" class="portfolio sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div>
          <h2 class="title-a">Portfolio</h2>
          <hr>
          <p class="subtitle-a">
            Here are some of the projects I have worked on.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/instaclone1.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/instaclone1.png" alt="" class="img-fluid" />
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">
                    <a href="https://quiet-plateau-13856.herokuapp.com/"
                      >Instagram Clone</a
                    >
                  </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Django</span> /
                    <span class="w-date">2022</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/awwards.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/awwards.png" alt="" class="img-fluid" />
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">
                    <a href="https://agile-bastion-89836.herokuapp.com/">Awwards Clone</a>
                  </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Django</span> /
                    <span class="w-date">2022</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/gitsearch.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/gitsearch.png" alt="" class="img-fluid" />
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">
                    <a
                      href="https://gitsearch-g.netlify.app/"
                      >Github Search</a
                    >
                  </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Angular</span> /
                    <span class="w-date">2022</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/pitches.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/pitches.png" alt="" class="img-fluid" />
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">
                    <a href="https://pitchesweb.herokuapp.com/">Perfect pitches</a>
                  </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Flask</span> /
                    <span class="w-date">2022</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/jirani.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/jirani.png" alt="" class="img-fluid" />
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">
                    <a href="https://young-headland-66302.herokuapp.com/">
                      Jirani App</a
                    >
                  </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Django</span> /
                    <span class="w-date">2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../../assets/img/pizza.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../../assets/img/pizza.png" alt="" class="img-fluid" />
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">
                    <a
                      href="https://gracenyutu.github.io/pizza-palace/"
                      >Pizza Shop</a
                    >
                  </h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> /
                    <span class="w-date">2022</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
