<section id="contact" class="about-mf sect-pt4 route">
  <div class="container-fluid">
    <h3>Contact</h3>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <p>
                    <span class="title-s">Name: </span>
                    <span>Grace Nyutu</span>
                  </p>
                  <p>
                    <span class="title-s">Profile: </span>
                    <span>Full Stack Developer</span>
                  </p>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">

                    <p>
                      <span class="title-s">Email: </span>
                      <span>graceynyutu@gmail.com</span>
                    </p>
                    <p>
                      <span class="title-s">Phone: </span>
                      <span>+254707-416-393</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="socials">
                  <ul>
                    <li>
                      <a href="https://github.com/gracenyutu"
                        ><span class="ico-circle"
                          ><i class="ion-social-github"></i>Github</span
                      ></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/grace-nyokabi-nyutu-0130ba17a/"
                        ><span class="ico-circle"
                          ><i class="ion-social-linkedin"></i>LinkedIn</span
                      ></a>
                    </li>
                    <li>
                      <a href="../assets/docs/Grace Nyokabi Nyutu CV.pdf" download
                        ><span class="ico-circle">CV</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <a class="btn btn-sm btn-warning" href=""><h4>Hire me!</h4></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
