<div id="home" class="intro route bg-image">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/images/passport.png" alt="">
      </div>
      <div class="col-md-5">
        <h2 class="intro-title mb-4">Grace Nyokabi Nyutu</h2>
        <p class="intro-subtitle">
          <span class="text-slider-items"
            >Full Stack Developer,Django Developer, Angular Developer, Moringa School Alumni</span
          ><strong class="text-slider"></strong>
        </p>
        <div class="about-me absolute">
          <div class="title-box-2">
            <h3 class="title-left">About me</h3>
          </div>
          <p class="lead">
            I’m a fullstack web designer and developer with 2 years of
            working experience, both as a junior developer and as a
            freelance developer. I have gained the following skills
            over the time.
          </p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
<div>
  <app-about></app-about>
  <app-projects></app-projects>
  <app-contact></app-contact>
</div>
